<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Lista de productos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                <a>Consigue una cotización</a>
            </li>
            <li class="active">
                <strong>Lista de auto productos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div id="modal-detail" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Coberturas Estructura</h3>
                <ul class="medio">
                    <li><span>DAÑOS POR INCENDIO Y ADICIONALES</span><strong style="float: right;">Valor Comercial</strong></li>
                    <li><span>SISMO</span><strong style="float: right;">Valor Comercial</strong></li>
                    <li><span>ASISTENCIA DOMICILIARIA</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>INCENDIO Y EXPLOSIÓN A CONSECUENCIA DIRECTA DE HUELGA,</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>DAÑOS FISICOS A CONSECUENCIA DE HUELGA, DESORDEN POPULAR O</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>ROBO O SAQUEO DURANTE HUELGA O DESORDEN</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>DAÑOS FÍSICOS CAUSADOS POR SALIDA DE MAR</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>DAÑOS POR AVALANCHA, ALUVIONES Y DESLIZAMIENTOS</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>INCENDIO A CONSECUENCIA DE FENÓMENOS  DE LA NATURALEZA</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>DAÑOS MATERIALES CAUSADOS POR VIENTO,</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>DAÑOS MATERIALES CAUSADOS POR PESO DE NIEVE O HIELO</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>DAÑOS FÍSICOS CAUSADOS POR ROTURA DE CAÑERIAS</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>DAÑOS MATERIALES CAUSADOS POR EXPLOSIÓN</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>COLAPSO EDIFICIO</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>DAÑOS FÍSICOS CAUSADOS POR AERONAVES</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>DAÑOS FÍSICOS CAUSADOS POR VEHICULOS</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>ROTURA DE CRISTALES</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>RESPONSABILIDAD CIVIL FAMILIAR</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>REMOCIÓN DE ESCOMBROS</span><strong style="float: right;">Incluído</strong></li>
                </ul>
                <h3>Coberturas Contenido</h3>
                <ul class="medio">
                    <li><span>DAÑOS POR INCENDIO Y ADICIONALES</span><strong style="float: right;">Valor Comercial</strong></li>
                    <li><span>SISMO</span><strong style="float: right;">Valor Comercial</strong></li>
                    <li><span>ROBO CON FRACTURA</span><strong style="float: right;">Valor Comercial</strong></li>
                    <li><span>INCENDIO Y EXPLOSIÓN A CONSECUENCIA DIRECTA DE HUELGA,</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>DAÑOS FISICOS A CONSECUENCIA DE HUELGA, DESORDEN POPULAR O</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>ROBO O SAQUEO DURANTE HUELGA O DESORDEN</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>DAÑOS FÍSICOS CAUSADOS POR SALIDA DE MAR</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>DAÑOS POR AVALANCHA, ALUVIONES Y DESLIZAMIENTOS</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>INCENDIO A CONSECUENCIA DE FENÓMENOS  DE LA NATURALEZA</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>DAÑOS MATERIALES CAUSADOS POR VIENTO,</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>DAÑOS MATERIALES CAUSADOS POR PESO DE NIEVE O HIELO</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>DAÑOS FÍSICOS CAUSADOS POR ROTURA DE CAÑERIAS</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>DAÑOS MATERIALES CAUSADOS POR EXPLOSIÓN</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>COLAPSO EDIFICIO</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>DAÑOS FÍSICOS CAUSADOS POR AERONAVES</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>DAÑOS FÍSICOS CAUSADOS POR VEHICULOS</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>ROTURA DE CRISTALES</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>RESPONSABILIDAD CIVIL FAMILIAR</span><strong style="float: right;">Incluído</strong></li>
                    <li><span>REMOCIÓN DE ESCOMBROS</span><strong style="float: right;">Incluído</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">


    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label">Seleccionar Deducible</label>
                    <div>
                        <select data-placeholder="Seleccionar Deducible..." class="chosen-select" multiple>
                            <option value="0">0 UF</option>
                            <option value="1">3 UF</option>
                            <option value="2">5 UF</option>
                            <option value="3">10 UF</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label">Tipo de seguro</label>
                    <div>
                        <select data-placeholder="" class="chosen-select" multiple>
                            <option value="0">INCENDIO</option>
                            <option value="1">INCENDIO + SISMO</option>
                            <option value="2">INCENDIO + ROBO</option>
                            <option value="3">INCENDIO + ROBO + SISMO</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label class="control-label" for="price">Precio</label>
                    <!-- <input type="text" id="price" name="price" value="" placeholder="Price" class="form-control">
                    <label for="dollar-prefix">Money with $ prefix</label> -->
                    <input type="text" class="form-control dollar-prefix" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Seleccionar Empresas</label>
                    <div>
                        <select data-placeholder="Seleccionar Empresas..." class="chosen-select" multiple>
                            <option value="0">Liberty</option>
                            <option value="1">Mapre</option>
                            <option value="2">HDI Seguros</option>
                            <option value="3">BCI Insurance</option>
                            <option value="4">Chilean Consolidated</option>
                            <option value="5">Consortium</option>
                            <option value="6">Zenit Seguros</option>
                            <option value="7">Seguros SURA</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                        <tr>
                            <th data-hide="phone">Aseguradoras</th>
                            <th data-toggle="true">Precio</th>
                            <th data-hide="phone">Deducible</th>
                            <th data-hide="phone,tablet" >Tipo de seguro</th>
                            <th class="text-right" data-sort-ignore="true"></th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                BCI Seguros
                            </td>
                            <td>
                               $ 32.757 /mes
                            </td>
                            <td>
                                1,222 UF /Mes
                            </td>
                            <td>
                                Cobertura completa
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button class="btn-danger btn btn-xs buy">Contratar</button>
                                    <button class="btn-white btn btn-xs"  data-toggle="modal" href="#modal-detail">Ver más información</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                BCI Seguros
                            </td>
                            <td>
                              $ 9.248 /mes
                            </td>
                            <td>
                                0,345 UF /Mes
                            </td>
                            <td>
                                Cobertura básica
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button class="btn-danger btn btn-xs buy">Contratar</button>
                                    <button class="btn-white btn btn-xs"  data-toggle="modal" href="#modal-detail">Ver más información</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sura
                            </td>
                            <td>
                                $ 39.405 /mes
                            </td>
                            <td>
                                1,470 UF /Mes
                            </td>
                            <td>
                                Cobertura completa
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button class="btn-danger btn btn-xs buy">Contratar</button>
                                    <button class="btn-white btn btn-xs"  data-toggle="modal" href="#modal-detail">Ver más información</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sura
                            </td>
                            <td>
                               $ 14.046 /mes
                            </td>
                            <td>
                               0,524 UF /Mes
                            </td>
                            <td>
                                Cobertura completa
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button class="btn-danger btn btn-xs buy">Contratar</button>
                                    <button class="btn-white btn btn-xs"  data-toggle="modal" href="#modal-detail">Ver más información</button>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>


</div>

<% content_for :javascript do %>
<script type="text/javascript" src="/assets/javascripts/cleave.min.js"></script>
<script type="text/javascript">


$(function() {

    $('.footable').footable();

});

$('.buy').on('click', function() {
    window.location.href = "/getquote/housestart?rut=<%= params[:rut] %>&tel=<%= params[:tel]%>&email=<%= params[:email]%>";
});

$('.chosen-select').chosen({width: "100%"});

new Cleave('.dollar-prefix', {
    prefix: '$',
    numeral: true,
    numeralThousandsGroupStyle: 'thousand'
});

</script>
<% end %>