<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Lista de productos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                <a>Consigue una cotización</a>
            </li>
            <li class="active">
                <strong>Lista de auto productos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">


<div class="ibox-content m-b-sm border-bottom">
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label">Seleccionar Deducible</label>
                <div>
                    <select data-placeholder="Seleccionar Deducible..." class="chosen-select" multiple>
                        <option value="0">0 UF</option>
                        <option value="1">3 UF</option>
                        <option value="2">5 UF</option>
                        <option value="3">10 UF</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label">Tipo de seguro</label>
                <div>
                    <select data-placeholder="" class="chosen-select" multiple>
                        <option value="0">Cobertura completa</option>
                        <option value="1">Cobertura media</option>
                        <option value="2">Cobertura básica</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                <label class="control-label" for="price">Precio</label>
                <!-- <input type="text" id="price" name="price" value="" placeholder="Price" class="form-control">
                <label for="dollar-prefix">Money with $ prefix</label> -->
                <input type="text" class="form-control dollar-prefix" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Seleccionar Empresas</label>
                <div>
                    <select data-placeholder="Seleccionar Empresas..." class="chosen-select" multiple>
                        <option value="0">Liberty</option>
                        <option value="1">Mapre</option>
                        <option value="2">HDI Seguros</option>
                        <option value="3">BCI Insurance</option>
                        <option value="4">Chilean Consolidated</option>
                        <option value="5">Consortium</option>
                        <option value="6">Zenit Seguros</option>
                        <option value="7">Seguros SURA</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">

                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                    <thead>
                    <tr>
                        <th data-hide="phone">Aseguradoras</th>
                        <th data-toggle="true">Responsabilidad Civil General</th>
                        <th data-hide="phone">Responsabilidad Civil Vehicular</th>
                        <th data-hide="phone">Desde</th>
                        <th data-hide="phone,tablet" >Tipo de seguro</th>
                        <th class="text-right" data-sort-ignore="true"></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            Plan 3500
                        </td>
                        <td>
                           UF 3.500 sin deducible
                        </td>
                        <td>
                            UF 3.500 Deducible UF 300
                        </td>
                        <td>
                            $6.701 Mensual | 0,25 UF mensual
                        </td>
                        <td>
                            Cobertura básica
                        </td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button class="btn-danger btn btn-xs buy">Contratar en Línea</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Plan 5000
                        </td>
                        <td>
                            UF 5.000 sin deducible
                        </td>
                        <td>
                            UF 5.000 Deducible UF 300
                        </td>
                        <td>
                             $10.186 Mensual | 0,38 UF mensual
                        </td>
                        <td>
                            Cobertura completa
                        </td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button class="btn-danger btn btn-xs buy">Contratar en Línea</button>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>


</div>

<% content_for :javascript do %>
<script type="text/javascript" src="/assets/javascripts/cleave.min.js"></script>
<script type="text/javascript">


$(function() {

    $('.footable').footable();

});

$('.buy').on('click', function() {
    window.location.href = "/getquote/payment";
});

$('.chosen-select').chosen({width: "100%"});

new Cleave('.dollar-prefix', {
    prefix: '$',
    numeral: true,
    numeralThousandsGroupStyle: 'thousand'
});

</script>
<% end %>